.table thead th {
    background-color: #fb8500; /* Light orange background for table header */
    color: white; /* White text for headers */
}
.table tbody td {
    background-color: rgb(250, 246, 241); /* White background for table body */
}
.footer {
    background-color: #dc7805f0; /* Dark footer */
    padding: 15px 0;
}